/*** Imports ***/
@font-face {
	font-family: 'FrutigerBlack';
	src: url('./fonts/FrutigerLTStd-Black.woff2') format('woff2')
}
@font-face {
	font-family: 'FrutigerBlackCn';
	src: url('./fonts/FrutigerLTStd-BlackCn.woff2') format('woff2')
}
@font-face {
	font-family: 'FrutigerBold';
	src: url('./fonts/FrutigerLTStd-Bold.woff2') format('woff2')
}
@font-face {
	font-family: 'FrutigerItalic';
	src: url('./fonts/FrutigerLTStd-Italic.woff2') format('woff2')
}
@font-face {
	font-family: 'FrutigerLight';
	src: url('./fonts/FrutigerLTStd-Light.woff2') format('woff2')
}
@font-face {
	font-family: 'Frutiger';
	src: url('./fonts/FrutigerLTStd-Roman.woff2') format('woff2')
}
@font-face {
	font-family: 'Glysa';
	src: url('./fonts/glysa-medium.woff2') format('woff2')
}

/*** Design tokens ***/
:root {
	--clr-primario: #0000d9;
	--clr-primario-claro: #2323e6;
	--clr-primario-oscuro: #0606b0;
	--clr-secundario: #ff76bc;
	--clr-secundario-claro: #f8afd4;
	--clr-secundario-oscuro: #d53a89;
	--clr-terciario: #ffff10;
	--clr-terciario-claro: #ff6f00;
	--clr-terciario-oscuro: #ff6f00;
	--ff-titulos: "Glysa";
	--ff-body: "Frutiger";
	--ff-black: "FrutigerBlack";
	--ff-blackcn: "FrutigerBlackCn";
	--ff-bold: "FrutigerBold";
	--ff-italic: "FrutigerItalic";
	--ff-light: "FrutigerLight";
	--h1: 49px;
	--h2: 38px;
	--h3: 31px;
	--h4: 27px;
	--h5: 20px;
	--h6: 16px
}

/*** Reset ***/
html {
	box-sizing: border-box
}
*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}
ul,
ol {
	list-style: none;
}
li {
	padding-inline: 0;
}
img {
	max-width: 100%;
	display: block;
}
/*** Base ***/
body {
	font-family: var(--ff-body);
}
h1,h2,h3,h4,h5,h6 {
	font-family: var(--ff-titulos);
}
/* Typescale */
h1 {
	font-size: var(--h1);
}
h2 {
	font-size: var(--h2);
}
h3 {
	font-size: var(--h3);
}
h4 {
	font-size: var(--h4);
}
h5 {
	font-size: var(--h5);
}
h6 {
	font-size: var(--h6);
}


  /* Base */
  body {
	background-color: var(--clr-primario-claro);
  }

  /* Menu */
  .menu {
  }
  .menu__logo {
  }
  .menu__link {
  }
  /* menu */
  .boton__menu {
	color: white;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }

  /* hero */
  .hero {
	background-color: var(--clr-primario-claro);
	height: 400px;
  }

  .hero__titulo {
	text-align: center;
	color: white;
	font-family: "Glysa";
	font-size: 70px;
  }

  .hero__slogan {
	text-align: center;
	color: white;
	font-size: 20px;
	font-family: "Frutigerg";
  }

  .hero__btn_left {
	background-image: url('https://res.cloudinary.com/djfu7akxy/image/upload/v1631559091/final8_qm3axu.jpg');
	background-repeat: no-repeat;
	background-position: top left;
	justify-content: flex-start;
  }

  .hero__btn_right {
	background-image: url('https://res.cloudinary.com/djfu7akxy/image/upload/v1631559083/final4_kq3t0o.jpg');
	background-repeat: no-repeat;
	background-position: bottom right;
	justify-content: flex-end;
  }
