/* Design tokens */
:root {
  --clr-primario: #0000d9;
  --clr-primario-claro: #2323e6;
  --clr-primario-oscuro: #0606b0;
  --clr-secundario: #ff76bc;
  --clr-secundario-claro: #f8afd4;
  --clr-secundario-oscuro: #d53a89;
  --clr-terciario: #ffff10;
  --clr-terciario-claro: #ff6f00;
  --clr-terciario-oscuro: #ff6f00;
  --ff-titulos: "Glysa";
  --ff-body: "Frutiger";
  --h1: 49px;
  --h2: 38px;
  --h3: 31px;
  --h4: 27px;
  --h5: 20px;
  --h6: 16px;
}

/* Base */
body {
  background-color: var(--clr-primario-claro);
}

/* Menu */
.menu {
}
.menu__logo {
}
.menu__link {
}
/* menu */
.boton__menu {
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/* hero */
.hero {
  background-color: var(--clr-primario-claro);
}
.hero__titulo {
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 70px;
}
.hero__slogan {
  color: white;
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.hero__btn {
  color: white;
}
